.FooterWrapper {
  border-top: 1px solid dimgrey;
  justify-content: center;
  margin: 50px 0;
  padding: 10px;
  text-transform: capitalize;
  max-width: 100%;
}
.SectionContainer1 {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 10px;
  color: dimgrey;
}
.SectionContainer2 {
  justify-content: space-evenly;
  display: flex;
  margin: 20px;
  color: dimgrey;
  margin: 40px 10px;
}
.AddressSection {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.Socialmedia {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  .AddressSection {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
  }
}
